<div class="questions-show">
  <div class="black-banner">
    <img src="<%= image_path 'side-banner1.jpg' %>" alt="">
  </div>
  <div class="container-questions">
    <div id="carouselQuizzes" class="carousel carousel-dark slide" data-bs-ride="false" data-bs-wrap = "false">
      <%= simple_form_for [@quiz, @result] do |f|%>
        <div class="carousel-inner">
          <% @quiz.categories.each_with_index do |category_name, index| %>
            <% class_item = index == 0 ? "carousel-item active" : "carousel-item"%>
            <div class="<%= class_item %>">
              <%= render "category_quiz", category_name: category_name, index: index, f: f %>
              <% if index == @quiz.categories.size - 1 %>
                <%# f.submit %>
                <%= f.button :submit, class: 'btn btn-primary btn-categories', value: 'Submit Quiz' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselQuizzes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<script>
  /* If you want to stop autoplay bootstrap carousel the use this code:
  */
   var quizCarousel = document.getElementById('carouselQuizzes');

    quizCarousel.addEventListener('slid.bs.carousel', event => {
      var carouselItems = quizCarousel.querySelectorAll(".carousel-item");
      var lastItem = [...carouselItems].pop();
      if (lastItem.classList.contains("active")) {
        quizCarousel.querySelector(".carousel-control-next").style.display = 'none';
      }
    })
</script>
