<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-navbar1">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
          <path stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M1 1h14M1 8h14M1 15h14"/>
        </svg>
      </span>
    </button>

    <div class="navbar-row">
      <%= link_to "SHOP", shop_path, class: "nav-link" %>
      <%= link_to "ABOUT", about_path, class: "nav-link" %>
      <%= link_to "LEARN", learn_path, class: "nav-link" %>
    </div>


    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo-lightbg.png" %>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
      <!--
          <button class="fa-solid fa-bars d-none d-md-inline" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "SHOP", shop_path, class: "nav-link" %>
              <%= link_to "ABOUT", about_path, class: "nav-link" %>
              <%= link_to "LEARN", learn_path, class: "nav-link" %>
              <hr>
            </div>
          </li>
      -->
          <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
      <!--
          <li class="nav-item d-inline d-sm-none">
            <%= link_to "Shop", "https://www.bol.com/nl/nl/s/?page=1&searchtext=bional&view=tile", class: "nav-link" %>
          </li>
          <li class="nav-item d-inline d-sm-none">
            <%= link_to "About", "#", class: "nav-link" %>
          </li>
          <li class="nav-item d-inline d-sm-none">
            <%= link_to "Learn", "#", class: "nav-link" %>
          </li>
          <li class="nav-item d-inline d-sm-none">
            <hr>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        -->
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
