<h1>Results page</h1>


<div>
<p>Category name:<%= @category.name %></p>
<p>Category description:<%= @category.description %></p>
</div>
<div>
<% @nutrient.each do |nutrient| %>
<% nutri = Nutrient.find(nutrient) %>
<p>Nutrient name:<%= nutri.name %></p>
<p>Nutrient description:<%= nutri.description %></p>
<% end %>


</div>

<div class="btn btn-primary center-box">
  <%= link_to 'See our recommended options', result_path(@result.id), data: {"turbo_method": :patch} %>
</div>
