<div class="about-page-container">
  <div class="about-us-container" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'about-banner.jpg' %>')" >
    <h1>About us.</h1>
  </div>
  <div class="after-about-us-containerrr">
    <p>We are a team of four individuals who are passionate about personal health and wellness. Our mission is to provide a solution for individuals who are looking to improve their health through the use of supplements.</p>

    <p>We understand that many people have personal health problems that cannot be solved through traditional methods alone. That's why we have created a supplement quiz that will help you identify the specific nutrients your body needs to support your health goals.</p>
  </div>


  <div class="about-container">
    <div class="image-about-us-container" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'girl-yoga.png' %>')" >
      <div class="after-about-us-container">
        <p>At Dr.Bear, we are passionate about helping people achieve optimal health through personalized nutrition. We believe that good nutrition is the foundation of good health, and that supplements can play an important role in supporting overall wellness.</p>
      </div>
    </div>

    <div class="image-about-us-container-left" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'mountain.png' %>')" >
      <div class="after-about-us-container-left">
        <p>Our team of experts includes registered dietitians, nutritionists, and health professionals who are dedicated to providing science-backed information and personalized recommendations to help you achieve your health goals. We understand that everyone's nutritional needs are unique, which is why we offer a free quiz to help you identify the supplements that may be right for you.</p>
      </div>
    </div>
    <div class="image-about-us-container" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'high-five.png' %>')">
      <div class="after-about-us-container">
        <p>Whether you're looking to improve your energy levels, support your immune system, or address specific health concerns, we're here to help. Our goal is to empower you with the knowledge and tools you need to make informed decisions about your health and nutrition.</p>
      </div>
    </div>

    <div class="after-about-us-container-just-text">
      <p>Thank you for choosing Dr.Bear as your trusted source for personalized nutrition. We look forward to helping you on your journey to optimal health.</p>
      <div class="flexify-box"><%= link_to "Back to top", "#top", class: "btn btn-primary btn-category"%></div>
   </div>
  </div>


  <div class="infos-about-us">
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </div>


</div>
