<div class="main-shop-container">
  <div class="secondary-shop-container">
    <div class="main-text-for-shop">
      <h1>Welcome to the Dr. Bear shop</h1>
    </div>

    <div class="content-container-shop">
      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "1.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Multivitamin</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Etos Multi Complex is a high-quality formula with bioactive vitamins and minerals.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "2.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Probiotics</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Lucovitaal's Probiotics in Pre- & Probiotics arrive alive in the intestines because they are in a gastro-resistant capsule.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "3.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Calcium</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Preservation of strong bones, plays a role in bot production, helps keep teeth strong, good for the functioning of muscles</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "4.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Zink</h3>
        </div>
        <div class="description-supplement-card">
          <h6>1/3 of the Dutch population is deficient in zinc. Still, zinc is an essential mineral for our body! It is involved in more than 300 enzymatic reactions.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "5.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Magnesium</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Vitakruid Magnesium 200 complex - Mineral, vitamin and amino acid preparationMagnesium is the basis of more than 300 biochemical processes in our body.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "6.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Vitamine C</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Roter Vitamin C 70mg Chewable tablets support natural resistance and your immune system. Tasty chewable tablets with fresh lemon flavor to complement your diet.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "7.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Omega 3</h3>
        </div>
        <div class="description-supplement-card">
          <h6>These fish oil capsules are a healthy addition to your daily diet and contain omega-3 fatty acids. Premium Fish Oil Omega-3 from the brand Oceans Essentials.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "8.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>PURE Melatonine</h3>
        </div>
        <div class="description-supplement-card">
          <h6>Melatonin is a hormone that plays a role in the sleep-wake rhythm of the human body. By nature, our body produces melatonin itself.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="supplement-product-card">
        <div class="image-supplement-card">
          <%= image_tag "9.png" %>
        </div>
        <div class="name-supplement-card">
          <h3>Vitamin B Complex</h3>
        </div>
        <div class="description-supplement-card">
          <h6>OstroVit Vitamin B Complex is a dietary supplement in tablets containing B-group vitamins, enriched with vitamins C and E.</h6>
        </div>
        <div class="btn-supplement-buy">
          <div class="buy-btn-container" onclick="toggleText(this)">
            <button class="buy-btn">Buy Now</button>
            <div class="supplement-product-cost">
              <div class="supplement-exact-price">
                <h5 class="price">24.95€</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="discover-more-btn-container">
      <%= link_to "Discover more", "https://www.bol.com/nl/nl/", target: "_blank", class: "btn btn-dark" %>
    </div>
  </div>
</div>


<script>
  function toggleText(container) {
    var button = container.querySelector(".buy-btn");
    var price = container.querySelector(".price");
    if (button.innerHTML === "Buy Now") {
      button.innerHTML = "Added to Cart";
      price.style.display = "none";
      container.classList.add("added");
      button.classList.add("scale");
      setTimeout(function() {
        button.classList.remove("scale");
      }, 500);
    } else {
      if (confirm("Are you sure you want to remove item?")) {
        button.innerHTML = "Buy Now";
        price.style.display = "block";
        container.classList.remove("added");
      }
    }
  }
</script>
