<div class="questions-show">
  <div class="black-banner">
    <img src="<%= image_path 'side-banner1.jpg' %>" alt="">
  </div>
  <div class="container-questions">
    <div class= "category-name">
      <h1><%= @category.name %></h1>
    </div>
    <div class="form-questions">
      <%= form_tag(action: "create", method: "get") do %>
        <p></p>
        <hr>
        <% @category.questions.each do |question| %>
            <p><%= question.content %></p>
            <% question.answers.each_with_index do |answer, index| %>
              <div class="btn-group">
                  <label class="btn btn-outline-secondary">
                    <%= radio_button_tag("cat#{@category.id}q#{question.id}",
                                        answer.score,
                                        index == 0,
                                        class: "form-check-input visually-hidden") %>
                    <%= answer.content %>
                  </label>
                </div>
                <%= hidden_field_tag(:category, @category.id) %>
              <% end %>
              <hr>
          <% end %>
          <div>
            <p><%= submit_tag("Submit", class: "btn btn-primary") %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  // add click event listeners to all the label tags inside the button group
  const buttonGroup = document.querySelectorAll('.btn-group');
  buttonGroup.forEach(group => {
    const labels = group.querySelectorAll('label');
    labels.forEach(label => {
      label.addEventListener('click', () => {
        // toggle the active class of the clicked label
        label.classList.toggle('active');
        // uncheck the radio button if the label is not active
        if (!label.classList.contains('active')) {
          const radioButton = label.querySelector('input[type="radio"]');
          radioButton.checked = false;
        }
      });
    });
  });
</script>
