<div class="container">
  <h1><%= @category.name %></h1>

  <%= form_tag(action: "create", method: "get") do %>
    <% @category.questions.each do |question| %>
        <p><%= question.content %></p>
        <% question.answers.each do |answer| %>
          <%= radio_button_tag("cat#{@category.id}q#{question.id}", answer.score) %>
          <%= hidden_field_tag(:category, @category.id) %>
          <%= label_tag("A#{answer.id}", answer.content) %></p>
        <% end %>
      <% end %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>
